<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"></meta>
	<title>My blog</title>
	<link rel="icon"  type"image/x-icon" href="../img/icon/n2.png" >
    <link rel="stylesheet" href="../css/do.css" type="text/css"/>

</head>
<body>
    <img src="../img/top.png" alt="" width=100% style="padding: 0px;margin: 0px;">
<div id="pointer">
    <ul>
        <li class="active"><a href="bolg.html">首页</a></li>
        <li><a href="message.html">文章</a></li>
        <li><a href="talking.html">留言</a></li>
        <li><a href="introduce.html">关于我</a></li>
        <li style="float:right;"><form>
            <input type="text" name="firstname">
            <input type="submit" value="搜索">
            <form>   
        </li>
    </ul>
    
</div>
 <div id="textbook">
    <div>
     <input type="text" v-model="message" @keyup.enter="add">
     <input type="button" value="添加" @click="add">
    </div>
    <div>
     <input type="text" v-model="num" @keyup.enter="del">
     <input type="button" value="删除" @click="del">
    </div>
    <div>
        <ul>
            <li v-for="(item,i) in arr">
                <p style="display: inline;">{{item}}</p>
            </li>
        </ul>
    </div>
 </div>
 <div id="weather">
    <input type="text" v-model="city" @keyup.enter="getweather(city)"></input>
    <input type="button" value="搜索" @click="getweather(city)">
    <ul>
        <li v-for="item in arr">
            <h2>{{item.date}}</h2>
            <p>{{item.fengli}}</p>
            <p>{{item.low}}</p>
            <p>{{item.high}}</p>
            <p>{{item.type}}</p>
            <p>{{item.fengxiang}}</p>
        </li>
    </ul>

</div>
<div id="joke">
    <input type="button" value="get a joke" @click="get">
    <h2 >{{joke}}</h2>

</div>
<div id="music">
    <input type="text" v-model="name">
    <input type="button" value="搜索音乐" @click="search()">
    <ul>
        <li v-for="data in arr">
            <a  @click="play(data.id)"><h3>{{data.name}}</h3></a> 
        </li>
    </ul>
    <audio ref='audio' :src="http"controls="controls" autoplay="autoplay" loop="loop"height="100" width="100"></audio>
</div>
 <script src="../vue/vue.js">//导入js//https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js</script>
 <script src="https://unpkg.com/axios/dist/axios.min.js">//导入axios</script>
 <script type="text/javascript" src="../js/all.js"></script>
</body>
</html>